/*
 * Файл со стилями шапки сайта
 */
.mean {
  background: #FFFFFF;
  box-shadow: 0 4px 80px rgb(0 0 0 / 15%);
  padding: 15px 0;
}

.mean__container {
  display: grid;
  grid-template-columns: 249px 1fr 1fr;
  align-items: center;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
  gap: 17px;
}

.mean__right {
  display: flex;
  justify-content: flex-end;
}

.mean__center-ul {
  display: flex;
  justify-content: center;
}

.mean__center-ul-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  line-height: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.mean__center-ul-a:hover, .mean__center-ul-a.active {
  color: #CAC338;
}

.mean__center-ul li {
  margin: 0 0 0 16px;
}

.mean__right-nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.mean__contakt-p {
  font-family: 'Proxima Nova Rg';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  color: #A7A8A0;
  text-align: right;
}

.mean__contakt-p-span {
  color: black;
  font-weight: 700;
  font-size: 23px;
}

.mean__contakt-p-a {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
  color: #2E75B3;
  line-height: 20px;
}

.mean__contakt {
  margin: 0 12px 0 8px;
  position: relative;
  top: 10px;
}

nav.mean__right-nav {
  margin: 5px 0 0 0;
}