/*
 * Файл со стилями шапки сайта
 */
.mean {
  display: grid;
  grid-template-columns: 249px 1fr 1fr;
  align-items: center;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
  gap: 25px;
}
.mean__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mean__center-ul {
  display: flex;
  justify-content: center;
}
.mean__center-ul-a{
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  line-height: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.mean__center-ul-a:hover,.mean__center-ul-a.active {
  color:#CAC338;
}
.mean__center-ul li {
  margin: 0 0 0 16px;
}
