/*
 * Файл со стилями шапки сайта
 */
.mean {
  background: #FFFFFF;
  box-shadow: 0 4px 80px rgb(0 0 0 / 15%);
  padding: 15px 0;
}

.mean__container {
  display: grid;
  grid-template-columns: 249px 1fr 1fr;
  align-items: center;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
  gap: 17px;
}

.mean__right {
  display: flex;
  justify-content: flex-end;
}

.mean__center-ul {
  display: flex;
  justify-content: center;
}

.mean__center-ul-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Proxima Nova Lt';
  font-style: normal;
  line-height: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.mean__center-ul-a:hover, .mean__center-ul-a.active {
  color: #CAC338;
}

.mean__center-ul li {
  margin: 0 0 0 16px;
}

.mean__right-nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.mean__contakt-p {
  font-family: 'Proxima Nova Rg';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  color: #A7A8A0;
  text-align: right;
}

.mean__contakt-p-span {
  color: black;
  font-weight: 700;
  font-size: 23px;
}

.mean__contakt-p-a {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
  color: #2E75B3;
  line-height: 20px;
}

.mean__contakt {
  margin: 0 12px 0 8px;
  position: relative;
  top: 10px;
}

nav.mean__right-nav {
  margin: 5px 0 0 0;
}

.mean__nav-right-a {
  display: block;
  height: 20px;
  position: relative;
  top: 5px;
}

.mean__left-logo-img-mobile {
  display: none;
}

@media (max-width: 1728px) {

}

@media (max-width: 1512px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {
  .mean__container {
    max-width: 1202px;
  }
}

@media (max-width: 1200px) {
  nav.mean__center {
    display: none;
  }
  .mean__container {
    max-width: 922px;
    grid-template-columns: 249px 1fr;
  }
}

@media (max-width: 1024px) {
  nav.mean__center {
    display: none;
  }
  .mean__container {
    max-width: 922px;
    grid-template-columns: 249px 1fr;
  }
}

@media (max-width: 834px) {
  .mean__container {
    max-width: 682px;
  }
}

@media (max-width: 744px) {

}

@media (max-width: 600px) {
  .mean__left-logo-img-mobile {
    display: block;
  }
  .mean__left-logo-img {
    display: none;
  }
  .mean__container {
    grid-template-columns: 120px 1fr;
  }
  nav.mean__right-nav {
    display: none;
  }
  a.mean__contakt-p-a {
    display: none;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
  mean__contakt-p-span {
    font-size: 18px;
  }
  .mean__container {
    align-items: normal;
  }
  header.mean {
    padding: 9px 0;
  }
}


@media (max-width: 428px) {
  .mean__left-logo-img-mobile {
    display: block;
  }
  .mean__left-logo-img {
    display: none;
  }
  .mean__container {
    grid-template-columns: 120px 1fr;
  }
  nav.mean__right-nav {
    display: none;
  }
  a.mean__contakt-p-a {
    display: none;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
  mean__contakt-p-span {
    font-size: 18px;
  }
  .mean__container {
    align-items: normal;
  }
  header.mean {
    padding: 9px 0;
  }
}

@media (max-width: 390px) {
  nav.mean__right-nav {
    display: none;
  }
  a.mean__contakt-p-a {
    display: none;
  }
  mean__contakt-p-span {
    font-size: 18px;
  }

}

@media (max-width: 375px) {
  nav.mean__right-nav {
    display: none;
  }
  a.mean__contakt-p-a {
    display: none;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .mean__contakt {
    display: none;
  }
}
