/*
 * Файл со стилями шапки сайта
 */
ul.mean__center-ul {
  display: flex;
  justify-content: center;
}

.mean__center-ul a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}
.mean__center-ul a:hover {
  color:#CAC338;
}
.mean__center-ul li {
  margin: 0 0 0 16px;
}