/*
 * Файлы со стилями meanphone
 */
.meanphone__nav {
  position: fixed;
}

.meanphone {
  display: none;
  justify-content: center;
}

.meanphone__nav-ul-1, .meanphone__nav-ul-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
}

.meanphone__nav-ul-li-a {
  text-decoration: none;
  font-family: 'Proxima Nova Rg';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #000000;
}

.meanphone__nav-ul-li-a:hover {
  color: #CAC338;
}

.meanphone__nav-ul-li {
  margin: 0 17px 0 17px;
}

.meanphone__nav {
  position: fixed;
  display: flex;
  align-items: center;
}

.meanphone__nav-ul-1 .meanphone__nav-ul-li {
  margin: 5px 20px 9px -2px;
}

.meanphone__nav-ul-2 .meanphone__nav-ul-li {
  margin: 5px 4px 9px 14px;
}

ul.meanphone__nav-ul-1 {
  position: absolute;
  right: 55px;
  border-radius: 20px 0px 0px 20px;
}

ul.meanphone__nav-ul-2 {
  position: absolute;
  left: 55px;
  border-radius: 0px 20px 20px 0px;
}

ul.meanphone__nav-ul-1 li:nth-child(1) {
  margin-left: 23px;
}

ul.meanphone__nav-ul-2 li:nth-child(2) {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .meanphone__nav {
    top: 82%;
  }
  .meanphone {
    display: flex;
    justify-content: center;
  }
}

