/*
 * Файлы со стилями meanphone
 */
.bot-menu {
  bottom: 75px;
  position: fixed;
  width: 100%;
  display: none;
}

a.bot-menu__a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  color: #000000;
  font-family: "Proxima Nova Rg";
  text-decoration: none;
}

.bot-menu__ul {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 450px;
  margin: 0 auto;
  justify-items: center;
  position: relative;
  background: #F7F7F7;
  border-radius: 20px;
  padding: 8px 10px;
}

.bot-menu__li-center {
  position: relative;
}

.bot-menu__li-center img {
  right: 0;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bit {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  right: 4.8%;
  bottom: 4.8%;

  & img{
    border-radius:50px
  }
}


@media (max-width: 600px) {
  .bot-menu {
    display: block;
  }
  .bot-menu__ul {
    width: 288px;
  }
  a.bot-menu__a {
    font-size: 10px;
  }
}


