/*
 * Файлы со стилями messenger
 */
.messenger {
  position: fixed;
  top: 45%;
  right: 5%;
}

.messenger__whatsapp {
  margin-bottom: 3px;
}

.messenger__text {
  display: block;
  margin-top: 250px;
}

@media (max-width: 1560px) {
  .messenger {
    right: 8%;
  }
}

@media (max-width: 360px) {
  .messenger__whatsapp-a-img {
    width: 28px;
  }
  .messenger__telegram-a-img {
    width: 28px;
  }
}
