/*
 * Файлы со стилями messenger
 */
.messenger {
  position: fixed;
  top: 45%;
  right: 5%;

  &__link {
    display: block;
    margin-bottom: 3px;
  }

  &__link:hover {
    opacity: 0.8;
  }

  &__text {
    display: block;
    margin-top: 250px;
  }
}


@media (max-width: 1560px) {
  .messenger {
    right: 8%;
  }
}

@media (max-width: 360px) {
  .messenger__whatsapp-a-img {
    width: 28px;
  }
  .messenger__telegram-a-img {
    width: 28px;
  }
}
