$main_color: rgba(255, 255, 255, 0.4);

.air-bg {
  background-image: url("../images/slider/bg.png");
  background-size: cover;
  background-attachment: fixed;
  height: 688px;
}

.glide {

  &__slide--active {
    position: relative
  }

  &__vld-subtitle {
    position: relative;
    bottom: 14px;
    margin-top: -5px;
  }

  &__vld-container {
    padding: 121px;
    z-index: 10000;
  }

  &__bullets-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    margin: 15px 0px 0px 0px;
  }


  &__center {
    max-width: 1328px;
    width: 100%;
    padding: 0 36px;
    position: absolute;
    top: 50%;
    left: 50.4%;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    height: 0px;

  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9A9A9A;
  }

  &__vld-h2 {
    font-weight: 700;
    font-size: clamp(22px, 5vw, 32px);
    line-height: clamp(24px, 5vw, 32px);
    color: #FFFFFF;
    margin-bottom: 19px;

  }

  &__vld-block {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .old {
      text-decoration: line-through;
      font-weight: 600;
      font-size: clamp(12px, 5vw, 32px);
      line-height: 40px;
      text-decoration-line: line-through;
      color: rgba(255, 255, 255, 0.4);
      padding: 0 16px 0px 0px;
    }

    .price {
      line-height: 24px;
      color: #7BB058;
      font-weight: 600;
      font-size: 16px;

      span {
        font-size: clamp(25px, 10vw, 48px);
      }
    }
  }

  &__vld-list {
    color: #fff;
    position: relative;
    z-index: 1000;
    margin-bottom: 32px;

    ul {

      li {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        align-items: center;
        line-height: 24px;
        display: grid;
        grid-template-columns: 18px 1fr;
        gap: 7px;

        &:before {
          content: '';
          width: 18px;
          height: 18px;
          background-image: url("../images/slider/chevron.svg");
          display: block;
          left: 0;
        }

        span {
          color: #7BB058;
        }
      }

    }
  }

  &__vld-description {
    margin-bottom: 32px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #9A9A9A;
    }

    p:nth-child(1) {
      margin-bottom: 16px;
    }
  }

  &__vld-btm {

    button {
      background: linear-gradient(180deg, #7BB058 0%, #5F8646 100%);
      border-radius: 5px;
      width: 180px;
      height: 42px;
      border: 0;
      color: #ffff;
      cursor: pointer;

      &:hover {
        background: red;
        transition: 0.3s;
      }
    }

    button:nth-child(2) {
      background: #ff000000;
      color: #7BB058;
      text-align: inherit;
      margin-left: 5px;

      &:hover {
        color: #fff;
        transition: 0.3s;
      }
    }

  }

  &__vld-btm-img {
    margin: 0 0px 0 8px;
  }

  &__block-2 {
    z-index: 1000;
  }

  &__block {
    position: relative;
  }

  &__img-abs {
    position: absolute;
    bottom: -86px;
    right: -49px;
  }

  &_block-navigation {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    bottom: 0px;
  }

  &__bullets-img {
    width: 27px;
    height: 47px;
    margin: auto;
  }

  &__bullet--active {
    background: #7BB058 !important;
  }

  &__marker {
    background-color: rgba(255, 255, 255, 0.5);
    width: 22px;
    height: 5px;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
  }

}

@media (max-width: 1728px) {
  .glide__vld-container {
    padding: 113px;
  }
  .glide__vld-subtitle {
    bottom: 6px;
    margin-top: 4px;
  }
  .glide__vld-description {
    margin-bottom: 35px;
  }
  .glide__img-abs {
    right: -31px;
  }
}

@media (max-width: 1512px) {
  .glide__vld-subtitle {
    bottom: 4px;
  }

}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {
  .glide__vld-container {
    padding: 111px;
  }
  .glide__vld-h2 {
    margin-bottom: 23px;
  }
  .glide__img-abs {
    right: -51px;
  }
  .glide__vld-description {
    margin-bottom: 33px;
  }

}

@media (max-width: 1124px) {
  .glide__vld-container {
    padding: 76px 0px 0px 48px;
  }
  .glide__img-abs {
    bottom: -116px;
  }
  .glide__left {
    visibility: hidden;
  }
}

@media (max-width: 840px) {
  img.glide__img-abs {
    display: none;
  }
  .glide__vld-container {
    padding: 78px 0px 0px 30px;
  }
  .air-bg {
    height: 650px;
  }
  .glide__bullets-block {
    margin: 6px 0px 0px 0px;
  }
  .glide__vld-description {
    margin-bottom: 31px;

  }
  .glide__vld-h2 {
    margin-bottom: 20px;
  }
  .glide__center {
    top: 45%;
  }
}

@media (max-width: 734px) {
  .glide_block-navigation {
    bottom: -8px;
  }
  .glide__bullets-block {
    margin: 16px 0px 0px 0px;
  }

}

@media (max-width: 428px) {
  .glide__vld-container {
    padding: 66px 0px 0px 17px;
  }
  .air-bg {
    height: 776px;
  }
  .glide__center {
    display: none;
  }

}

@media (max-width: 390px) {
  .air-bg {
    height: 810px;
  }
  .glide p {
    font-size: 10px;
    line-height: 10px;
  }

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
  .glide p {
    font-size: 12px;
    line-height: 8px;
  }
  .glide_block-navigation {
    display: none;
  }
  .air-bg {
    height: 707px;
  }
  .glide__vld-list ul li {
    font-size: 13px;
  }


}

.air-shadow {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: radial-gradient(
                  circle,
                  transparent 160px,
                  rgba(0, 0, 0, 0.85) 600px
  );
  animation: air-shadow 2s ease;
}


@keyframes air-shadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
