@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #eee;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/*
 * Файл со стилями шапки сайта
 */
.mean {
  -webkit-box-shadow: 0 4px 80px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: -100px;
  margin: 100px 0 0 0;
  background: rgba(255, 255, 255, 0.95);
  -webkit-transition: margin 0.4s ease-in-out, padding 0.4s ease-in-out, background 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out, padding 0.4s ease-in-out, background 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out, padding 0.4s ease-in-out, background 0.4s ease-in-out;
}

.head-fixed {
  -webkit-box-shadow: 0 4px 80px transparent;
  box-shadow: 0 4px 80px transparent;
  opacity: 1;
  z-index: 10;
  position: absolute;
  width: 100%;
  background: transparent;
  padding: 30px 0 30px 0;
  top: 0;
  margin: 0;
  -webkit-transition: margin 0s, padding 0s, background 0s;
  -o-transition: margin 0s, padding 0s, background 0s;
  transition: margin 0s, padding 0s, background 0s;
}

.mean__container {
  display: grid;
  grid-template-columns: 249px 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1328px;
  margin: 0 auto;
  gap: 17px;
}

.mean__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.mean__center-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mean__center-ul-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: "Proxima Nova Lt";
  font-style: normal;
  line-height: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

a.mean__center-logo-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mean__center-logo-a svg,
.mean__center-logo-a svg path {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.mean__center-logo-a:hover svg,
.mean__center-logo-a:hover svg path {
  fill: #CAC338;
}

.mean__center-ul-a:hover, .mean__center-ul-a.active {
  color: #CAC338;
}

.mean__center-ul li {
  margin: 0 0 0 16px;
}

.mean__right-nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.mean__right-nav-ul-li-a:hover {
  opacity: 0.7;
}

.mean__contakt-p {
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  color: #A7A8A0;
  text-align: right;
}

.mean__contakt-p-span {
  color: black;
  font-weight: 700;
  font-size: 23px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.mean__contakt-a:hover .mean__contakt-p-span {
  color: #CAC338;
}

.mean__contakt-p-a {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #2E75B3;
  line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.mean__contakt-p-a:hover {
  border-bottom: 1px solid #2E75B3;
}

.mean__contakt {
  margin: 0 12px 0 8px;
  position: relative;
  top: 10px;
}

nav.mean__right-nav {
  margin: 5px 0 0 0;
}

.mean__nav-right-a {
  display: block;
  height: 20px;
  position: relative;
  top: 5px;
  opacity: 1;
}
.mean__nav-right-a:hover {
  opacity: 0.7;
}

.mean__contakt-a,
.mean__contakt-a:active,
.mean__contakt-a:focus {
  text-decoration: none;
  color: #A7A8A0;
}

.mean__left-logo-img {
  max-height: 27px;
  width: auto;
}

.mean__left-logo-img-mobile {
  display: none;
}

.test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
  gap: 40px;
  margin: 100px auto;
}

.test > div {
  background: #ccc;
  min-height: 200px;
}

.head-fixed .mean__center-ul-a,
.head-fixed .mean__contakt-p-span {
  color: #fff;
}

.head-fixed amean__contakt-a {
  color: #a7a8a0;
}

.head-fixed .mean__center-ul-a:hover, .head-fixed .mean__center-ul-a.active {
  color: #CAC338;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.air-bg {
  height: 100vh;
  background-image: url(../images/bg-test.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}
.air-bg:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 11, 21, 0.8);
  content: "";
}

.vld-container {
  max-width: 1328px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

/*
 * Файлы со стилями messenger
 */
.messenger {
  position: fixed;
  top: 45%;
  right: 5%;
}
.messenger__link {
  display: block;
  margin-bottom: 3px;
}
.messenger__link:hover {
  opacity: 0.8;
}
.messenger__text {
  display: block;
  margin-top: 250px;
}
/*
 * Файлы со стилями meanphone
 */
.bot-menu {
  bottom: 75px;
  position: fixed;
  width: 100%;
  display: none;
}

a.bot-menu__a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  color: #000000;
  font-family: "Proxima Nova Rg";
  text-decoration: none;
}

.bot-menu__ul {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 450px;
  margin: 0 auto;
  justify-items: center;
  position: relative;
  background: #F7F7F7;
  border-radius: 20px;
  padding: 8px 10px;
}

.bot-menu__li-center {
  position: relative;
}

.bot-menu__li-center img {
  right: 0;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 1560px){
  .messenger {
    right: 8%;
  }
}

@media (max-width: 1440px){
  .mean__container {
    max-width: 1184px;
  }
}

@media (max-width: 1366px){
  .vld-container {
    max-width: 1202px;
  }
}

@media (max-width: 1280px){
  nav.mean__center {
    display: none;
  }
  .mean__container {
    max-width: 920px;
    grid-template-columns: 249px 1fr;
  }
}

@media (max-width: 1024px){
  nav.mean__center {
    display: none;
  }
  .mean__container {
    max-width: 680px;
    grid-template-columns: 249px 1fr;
  }
  .vld-container {
    max-width: 922px;
  }
}

@media (max-width: 1023px){
  .mean__container {
    max-width: 680px;
  }
}

@media (max-width: 834px){
  .messenger {
    right: 23px;
  }
  .vld-container {
    max-width: 682px;
  }
}

@media (max-width: 744px){
  .mean__container {
    width: 712px;
    padding: 0 16px;
  }
}

@media (max-width: 600px){
  .mean__left-logo-img-mobile {
    display: block;
    max-height: 25px;
    width: auto;
    margin: 3px 0 0 0;
  }
  .mean__left-logo-img {
    display: none;
  }
  .mean__container {
    grid-template-columns: 120px 1fr;
  }
  nav.mean__right-nav {
    display: none;
  }
  a.mean__contakt-p-a {
    display: none;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
  .mean__container {
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }
  header.mean.head-fixed {
    padding: 25px 0 10px 0;
  }
  header.mean {
    padding: 10px 0 10px 0;
  }
  .bot-menu {
    display: block;
  }
  .bot-menu__ul {
    width: 288px;
  }
  a.bot-menu__a {
    font-size: 10px;
  }
}

@media (max-width: 428px){
  .mean__left-logo-img-mobile {
    display: block;
  }
  .mean__left-logo-img {
    display: none;
  }
  .mean__container {
    grid-template-columns: 120px 1fr;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }
  nav.mean__right-nav {
    display: none;
  }
}

@media (max-width: 375px){
  a.mean__contakt-p-a {
    display: none;
  }
  .mean__contakt-p-span {
    font-size: 18px;
  }
}

@media (max-width: 360px){
  .mean__contakt {
    display: none;
  }
  .messenger__whatsapp-a-img {
    width: 28px;
  }
  .messenger__telegram-a-img {
    width: 28px;
  }
}
